<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title color="warn">検索条件</mat-panel-title>　　
  </mat-expansion-panel-header>
  <app-searchform></app-searchform>
</mat-expansion-panel>
<p></p>
<mat-card>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="baseline">
      <mat-input-container fxFlex>
        <input matInput value="NG23-L-WH" placeholder="商品" readonly="true">
        <mat-hint>スーパー拳サポ L 白</mat-hint>
      </mat-input-container>
      <mat-input-container fxFlex="calc(3em + 5px)">
        <input matInput value="100" placeholder="現在庫" readonly="true">
      </mat-input-container>
      <mat-input-container fxFlex="calc(3em + 5px)">
        <input matInput value="5" placeholder="受注残" readonly="true">
      </mat-input-container>
      <mat-input-container fxFlex="calc(10em + 5px)">
        <input matInput value="2018/03/31" placeholder="最短入荷日" readonly="true">
      </mat-input-container>
      <mat-input-container fxFlex="calc(3em + 5px)">
        <input matInput value="100" placeholder="最短入荷数" readonly="true">
      </mat-input-container>
    </div>
  </mat-card-content>

</mat-card>


<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="sdate">
      <mat-header-cell *matHeaderCellDef> 日付 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sdate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="kbn">
      <mat-header-cell *matHeaderCellDef> 区分 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.kbn}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="denno">
      <mat-header-cell *matHeaderCellDef> 伝票番号 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.denno}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="mcode">
      <mat-header-cell *matHeaderCellDef> コード </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mcode}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="mname">
      <mat-header-cell *matHeaderCellDef> 名称 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mname}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="insuu">
      <mat-header-cell *matHeaderCellDef> 入荷数 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.insuu}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="outsu">
      <mat-header-cell *matHeaderCellDef> 出荷数 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.outsu}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="zaiko">
      <mat-header-cell *matHeaderCellDef> 在庫数 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.zaiko}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="bikou">
      <mat-header-cell *matHeaderCellDef> 備考 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bikou}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true">
　</mat-paginator>
</div>
