<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title color="warn">検索条件</mat-panel-title>　　
  </mat-expansion-panel-header>
  <app-searchform></app-searchform>
</mat-expansion-panel>
  <p></p>
<div fxLayout="row wrap" fxLayoutAlign="baseline">
  <mat-input-container>
    <input matInput value="NG23-L-WH" placeholder="商品" readonly="true">
    <mat-hint>スーパー拳サポ L 白</mat-hint>
  </mat-input-container>
  <mat-input-container fxFlex="calc(3em + 5px)">
    <input matInput value="100" placeholder="現在庫" readonly="true">
  </mat-input-container>
  <mat-input-container fxFlex="calc(3em + 5px)">
    <input matInput value="5" placeholder="受注残" readonly="true">
  </mat-input-container>
  <mat-input-container fxFlex="calc(10em + 5px)">
    <input matInput value="2018/03/31" placeholder="最短入荷日" readonly="true">
  </mat-input-container>
  <mat-input-container fxFlex="calc(3em + 5px)">
    <input matInput value="100" placeholder="最短入荷数" readonly="true">
  </mat-input-container>
</div>

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
